.flex-row-right {
    display: flex;
    justify-content: center;
}

.cheeks {
    padding-left: 10px;
    animation: UpDown 0.369s infinite linear;
}

@keyframes UpDown {
    50% {
        transform: translateY(-6.9px);
    }
}

.bang {
    
    text-align: right;
    animation: Thrust 0.69s infinite linear;
    transform: translateX(30px)
}

@keyframes Thrust {
    20% {
        transform: translateX(25px);
    }
}

.hero {
   animation: Fly 0.69s infinite linear; 
}

@keyframes Fly {
    0% {
        opacity:0;
    }
    19% {
        opacity:0;
    }
    20% {
        opacity:1;
        transform: translateX(35px);
    }
    40% {
        transform: translateX(-5px);
    }
    99% {
        transform: translateX(-5px);
    }
    100% {
        opacity:0;
        transform: translateX(-5px);
    }
}