body {
  background: #eaeaea;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.root {
  margin-top: 0px;
}

.survey {
  padding-left: 20px;
}

.header {
  padding: 5px;
  height: 45px;
  position: fixed;
  background-color: #33363b;
  color: white;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
}

.header__professional {
  padding: 5px;
  height: 45px;
  position: fixed;
  background-color: #368cbf;
  color: white;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
}

.header__patient {
  padding: 5px;
  height: 45px;
  position: fixed;
  background-color: #7ebc59;
  color: white;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
}

.logo {
  padding-right: 20px;
  padding-bottom: 10px;
  float: right;
  cursor: pointer;
}

.vrIcon {
  max-width: 50px;
}

.nav {
  margin-right: 50px;
  position: fixed;
  margin-bottom: 0px;
  display: inline-block;
  width: 20%;
  padding-left: 5px;
  text-align: left;
}

.nav-list {
  list-style-type: none;
  padding-left: 0px;
}

.nav-list-item {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 0;
}

.nav-list-item__pro {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 0;
}

.dropDown-btn {
  padding: 10px 24px;
  cursor: pointer;
  text-align: right;
}

.dropDown {
  float: right;
  overflow: hidden;
  margin-right: 50px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn__pro {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  background-color: #33363b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0;
}

.dropbtn:hover {
  background-color: #368cbf;
}

.dropbtn__pro:hover {
  background-color: #7ebc59;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  float: right;
  padding-bottom: 20px;
}

.renderContainer {
  margin-top: 60px;
}

.questionBox {
  column-count: 1px;
}

.questionName {
  float: left;
  width: 100%;
  position: relative;
}

.surveyTitle {
  max-width: 1000px;
}
.surveySelect,
.questionValue,
.questionListChoice {
  float: left;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 5em 0.5em 0.8em;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.surveySelect,
.questionListChoice,
.questionValue::-ms-expand {
  display: none;
}
.surveySelect,
.questionListChoice,
.questionValue:hover {
  border-color: #888;
}
.surveySelect,
.questionListChoice,
.questionValue:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.surveySelect,
.questionListChoice,
.questionValue option {
  font-weight: normal;
}

.videos {
  float: left;
}

.genericButton {
  background-color: #7ebc59;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
  width: 100px;
}

.genericButton:hover {
  background-color: #3a9662;
  font-weight: bold;
}

.videoHeader {
  display: inline-block;
  width: 100%;
}

.btnContainer {
  width: 100%;
  display: inline-block;
}

.nav-list-item__pro:hover {
  background-color: #7ebc59;
  font-weight: bold;
}

.nav-list-item:hover {
  background-color: #368cbf;
  font-weight: bold;
}

.splashBacker {
  background-image: url("./components/images/sportsPT.jpeg");
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  top: 20px;
  opacity: 0.8;
}

.login {
  display: inline-block;
  margin-top: 250px;
}

.homeTitle {
  display: inline-block;
  margin-top: 150px;
  color: white;
  opacity: 0.7;
  background-image: url("./components/icons/rehabiticontransparent.png");
}

.tagLine {
  color: white;
}

.homelogo {
  display: inline-block;
  margin-top: 250px;
  color: white;
  width: 400px;
}

.homeLogoBack {
  background: rgba(135, 139, 135, 0.3);
  width: 450px;
  height: 100%;
}

.pitch {
  color: white;
  padding-left: 10px;
}

.patientMessage {
  margin-bottom: 5px;
}

.proSplashBacker {
  background-image: url("./components/images/doctor.jpeg");
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  top: 20px;
  opacity: 0.8;
}

.proTasks {
  display: inline-block;
  margin-top: 70px;
  color: white;
  width: 400px;
  margin-left: 10px;
}

.chart {
  margin-top: 20px;
}

canvas {
  margin-top: 70px;
  margin-left: 20px;
}

.login {
  background: rgba(13, 14, 13, 0.9);
  /* margin-left: 200px; */
  width: 100%;
  max-width: 420px;
  height: 160px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 250px;
  /* bring your own prefixes */
}

.userName {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.passWord {
  color: white;
  text-align: center;
}

.close {
  width: 100%;

  float: right;
  color: white;
  cursor: pointer;
}

.loginsplashBacker {
  background-image: url("./components/images/sportsPT.jpeg");
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  top: 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginLable {
  padding-right: 10px;
}

.loginStuff {
  text-align: center;
}

.pass {
  background-color: transparent;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: #368cbf;
  color: white;
  outline: none;
}

.user {
  background-color: transparent;
  border: none;
  font-size: 14px;
  outline: none;
  color: white;
}

.forgotPass {
  float: right;
  bottom: 0;
  color: white;
  font-size: 10px;
}

.register {
  float: left;
  bottom: 0;
  color: white;
  font-size: 10px;
}

.loginHeader {
  color: white;
  text-align: center;
}

.a-scene{
  position: absolute;
  height: 100%;
  width: 100%;
}
